.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
}
.newslatter{
    color: gray;
    border: solid 1px #cfcfcf;
    padding: 10px;
}
.newslatter button{
    background-color: #3cb878;
    color: white;
    border: none;
    display: block;
    width: 100%;
    height: 30px;
}
.newslatter input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}
.newslatter h3 {
    margin-top: 0;




}